body{
  background-color: rgb(0, 0, 0);
}
.maindiv{
  height: 500px;
  width: 400px;
  background-color: rgb(156, 180, 211);
margin-top: 100px;
margin-left: 500px;
border: 10px solid rgb(180, 155, 149);
}
table{
  padding: 10px;
    
}

h3{
  margin-top: 20px;

}
p{
  color: blueviolet;
}
img{
  height: 200px;
  width: 220px;

}
.headings{
  font-weight: bold;
}